.body{
    margin: 20px;
    
}
.test{
    color: blueviolet;
    font-weight: 600;
    font-size: larger;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    
}